html {scroll-behavior: smooth;}
body {font-family: 'Open Sans', sans-serif; color: #454545; margin: 0}
h1 {  color: #03264F; font-weight: bold;}
h3 { color: #03264F; font-weight: normal;}
img { max-width: 50em; width: 100%; display: block}
td { padding: 0.5em 0.5em; }
#content50 { max-width: 50em; margin:0 auto; padding: 1rem; }
#navbar {
    background-color: ghostwhite; 
    align-items:center; 
    display: flex;
    padding: 1rem;
    margin:0 auto;
    justify-content: space-between;
}
#navbar a {text-decoration:none}
#logo { display: flex; align-items:center; padding-right: 3em }
#logo img { width: 10rem; }
#logotext { margin: 0 1rem;}
#logotext h1, h3 {margin-block-start: 0; margin-block-end: 0;}

.menu a {
    color: #454545;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}
.menu a:hover:not(.active) { padding: 14px 16px; background-color: white; }

#profiles { margin: 0 auto; text-align: center;}
#profiles img { max-width: 120px; margin: 0 auto;}
.profile { border: 3px solid green; border-radius: 50%; }

#sponsors { margin: 0 auto; text-align: center; }
#partners {flex-wrap: wrap; display: flex;}
#partners img { width: auto; padding: 1em}
.column {float: left; width: 33%;}

.schedule, .schedule th, .schedule td{ border: 1px solid lightgray; border-collapse: collapse;}
.schedule th { font-size: 1.25em; }